html,body {
height:100%;

}
.bg-1{background-color:#1abc9c;color:#ffffff;}
.bg-2{background-color:#474e5d;color:#ffffff;}
.bg-3{background-color:#ffffff;color:#555555;}
.container-fluid{padding-top:20px;padding-bottom:20px;}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    position: relative;

}

.ratio1 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    position: relative;

}
.img-circle {
    border-radius: 50%;
}
